<!doctype html>


<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta property="og:title" content="Pokedex Bot documentation" />
    <meta property="og:type" content="Docs"/>
    <meta property="og:url" content="https://itszabbs.github.io/Pokedex-Bot" />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/853556227610116116/8efe9df25de5cdb5bc90232797032ef6.png?size=128" />
    <meta property="og:description" content="Find detailed information about command usage here!" />
    <meta name="theme-color" content="#DC0A2D">
    <link rel="shortcut icon" type="image/png" 
      href="{{ "/assets/botlogo.png"  | absolute_url }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokedex Bot Docs</title>

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
     

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
